<% alias OpticRedWeb.Live.Components.PlayerItem %>
<li class={PlayerItem.get_classes(@player,
    @player_team_map,
    @current_player_id)}>
  <span><%= @player.name %> <%= if @metadata != nil, do: @metadata.status, else: "" %></span>
  </li>
