<head>
  <h1>
    Optic Red
  </h1>
</head>
<main>
  <div>
    <button phx-click="new_room">New Game</button>
  </div>
  <div>
    <input type="text">
    <button phx-click="join_room">Join Game</button>
  </div>
</main>
