<head>
  <h1>
    Optic Red
  </h1>
</head>
<main>
  <div>
    <button phx-click="new_game">New Game</button>
  </div>
  <div>
    <input type="text">
    <button phx-click="join_game">Join Game</button>
  </div>
</main>
